.recommended-movies{
    margin-top: 2rem;
    padding: 2rem;

    h1{
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .recommended-movies-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: auto;
        grid-gap: 1rem;
    }
}