.latest-movies{
    width: 100%;
    min-height: 100vh;
    padding: 2rem 5rem;

    h1{
        font-size: 2.5rem;
    }

    .latest-movies-container{
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: auto;
        grid-gap: 1rem;
    }
}

@media only screen and (max-width: 1200px){
    .latest-movies{
        padding: 3rem 2rem;

        h1{
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 600px){
    .latest-movies{
        padding: 3rem 1rem;

        h1{
            font-size: 1rem;
        }

        .latest-movies-container{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }
    }
}

@media only screen and (max-width: 500px){
    .latest-movies{
        padding: 3rem 1rem;

        h1{
            font-size: 1.5rem;
            white-space: nowrap;
        }

        .latest-movies-container{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(10, 250px);
        }
    }
}