.show-more{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #fff;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    border-radius: 5rem;
    cursor: pointer;

    a{
        color: #000;
        font-size: 1.3rem;
        text-decoration: none;
    }
}