@media only screen and (min-width: 1200px){
    .rusted-rage-movie-card{
        width: 320px;
        height: 90%;
        display: grid;
        grid-template-columns: 70px 1fr;

        h1{
            font-size: 8rem;
            font-family: "Montserrat", san-serif;
            opacity: .3;
            margin-top: 10rem;
            position: relative;
            z-index: 3;
            margin-left: -1rem;
        }

        h1:first-child{
            margin-left: -.7rem;
        }

        .rusted-rage-movie-poster{
            height: 300px;
            width: 220px;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            z-index: 1;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}