@media only screen and (min-width: 1200px){
    .rusted-rage-movie-card{
        width: 320px;
        height: 100%;
        display: grid;
        grid-template-columns: 70px 1fr;

        h1{
            font-size: 8rem;
            font-family: "Montserrat", san-serif;
            opacity: .1;
            margin-top: 10rem;
        }

        .rusted-rage-movie-poster{
            height: 100%;
            width: 220px;
            border-radius: 5px;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}