@media only screen and (min-width: 1024px){
    .movie-flix-featured{
        width: 100vw;
        height: auto;
        padding: 5rem 0;

        .movie-flix-featured-movies{
            width: 100%;
            height: auto;
            padding: 0 2rem;

            h1{
                font-size: 2rem;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 1.5rem;
            }

            hr{
                width: 95%;
            }

            .movie-flix-featured-movies-list{
                width: fit-content;
                overflow-x: hidden;
                height: 400px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                margin-top: 2rem;
                position: relative;

                .arrows{
                    position: absolute;
                    cursor: pointer;
                    top: 50%;
                    left: 0;
                    z-index: 4;
                }
            }
        }

        .movie-flix-featured-shows{
            width: 100%;
            height: auto;
            padding: 0 2rem;
            margin-top: 5rem;

            h1{
                font-size: 2rem;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 1.5rem;
            }

            hr{
                width: 95%;
            }

            .movie-flix-featured-shows-list{
                width: fit-content;
                margin-top: 2rem;
                overflow-x: hidden;
                height: 400px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                margin-top: 2rem;
            }
        }
    }
}