@media only screen and (min-width: 1200px){
    .rusted-rage-header{
        width: 100%;
        height: 100vh;
        color: #fff;
        position: relative;

        .rusted-rage-navbar.scrolled{
            position: fixed;
            top: 0;
            left: 0;
            background-color: lightblue;
          }
    
        .rusted-rage-navbar{
            width: 100%;
            height: 80px;
            position: absolute;
            padding: 0 4rem;
            z-index: 2;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .rusted-rage-logo-container{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: .8rem;

                .rusted-rage-menu-button{
                    border: none;
                    outline: none;
                    background: none;
                }
            }
    
            h1{
                margin-left: 1.5rem;
                color: #fff;
                font-size: 2.5rem;       
    
                span{
                    color: #017033;
                    font-size: 2.5rem;       
                }
            }

    
            .rusted-rage-navItems{
                display: flex;
                align-items: center; 
                justify-content: center;
                gap: 1.5rem;
                margin-left: 5rem;
    
                a{
                    color: #fff;
                    font-size: 1rem;
                    text-decoration: none;
                }
            }
    
            .rusted-rage-search{
                margin-left: 15rem;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .8rem;
                background: #070b11;
                opacity: .95;
                color: black;
                padding: .4rem 1rem;
                border-radius: 10px;
    
                input{
                    width: 400px;
                    border: none;
                    outline: none;
                    background: none;
                    border: none;
                    font-family: "Montserrat", sans-serif;
                }
    
                input::placeholder{
                    color: grey;
                }
            }
    
            .rusted-rage-register{
                margin-left: 15rem;
                padding: .8rem 2rem;
                border: none;
                background: #fd7e14;
                color: #fff;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 500;
                cursor: pointer;
            }
    
            button:hover{
                background: #fff;
                color: #fd7e14;
                border: 2px solid #fd7e14;
            }
        }
    
        .rusted-rage-carousel-container{
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(#070b11, #070b11);

            .chevron:first-child{
                position: absolute;
                top: 45%;
                left: 1%;
                cursor: pointer;
                opacity: .4;
            }

            .chevron:last-child{
                position: absolute;
                top: 45%;
                left: 96%;
                cursor: pointer;
                opacity: .4;
            }

            .chevron:hover{
                opacity: 1;
            }

            .chevron.hide{
                display: none;
                transition: all .5s ease;
            }
        }
    }
}