@media only screen and (min-width: 1200px){
    .rusted-rage-footer{
        width: 100%;
        position: sticky;
        height: auto;
        display: grid;
        align-items: center;
        justify-items: center;
        padding-top: 3rem;

        .rusted-rage-footer-container{
            width: 96%;
            padding: 2rem;
            margin: -2rem auto 2rem auto;
            display: grid;
            align-items: start;
            justify-items: center;
            border-radius: 1rem;
            text-align: center;
            background-color: #2a334149;

            .rusted-rage-footer-items{
                display: flex;
                gap: 1rem;
                margin-bottom: 2rem;

                a{
                    text-decoration: none;
                    font-size: 1rem;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    color: darkgrey;
                }
            }

            p{
                padding: .5rem 10rem;
                font-size: 1rem;
                font-family: 'Montserrat', sans-serif;
                color: grey;
            }
        }
    }
}