.auth-user-page{
    width: 100%;
    height: 100%;
    margin-top: 70px;
    padding: 2rem 2.4rem;

    .auth-user-form-container{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        h1{
            font-size: 3rem;
        }

        .auth-user-form{
            width: 400px;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            padding: 1rem;

            .error-text{
                color: red;
                font-size: .8rem;
                margin: -.5rem 0 0 0;
                padding: 0;
            }

            input{
                height: 50px;
                padding: .4rem;
                font-size: 1rem;
                color: #000;

                &::placeholder{
                    color: #ababab;
                }
            }

            button{
                height: 50px;
                margin: 1rem 0;
                font-size: 1rem;
                background: #007bff;
                cursor: pointer;
                border: none;
                outline: none;
            }
        }
    }
}